<mat-drawer-container 
    [autosize]="true"
    class="min-h-full max-w-7xl mx-auto border-x bg-gray-100"
    >
        <mat-drawer mode="side" opened class="p-6 bg-gray-500">
            <app-filters (showCategory)="onshowCategory($event)">
            </app-filters>
        </mat-drawer>
        
        <mat-drawer-content class="p-6 text-black">
            <app-products-header 
                (columnsCountChange)="onColumnsCountChange($event)"
            ></app-products-header>
            <mat-grid-list 
            gutterSize="16" 
            [cols]="cols"
            [rowHeight]="rowHeight"
            >

            </mat-grid-list>
        </mat-drawer-content>
</mat-drawer-container>